
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.btn:hover {
    color: #fff
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #f8c146;
    outline: 0px
}

.form-control {
    border: 1px solid #f8c146
}

.height {
    height: 100vh
}


.cardHolders {
    display:flex;
    justify-content: space-between;
    float:left
}

.custom-badge {
    background-color: #343a40 !important;
    color: #fff;
    font-size: 11px;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 7px
}

.outer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 200px);
    grid-gap: 20px;
}

.card {
    border: none;
    padding: 15px;
    cursor: pointer;
    max-height: 500px;
    max-width: 500px;
}

.time i {
    color: #cacacaa3
}
col-sm-8 container mt-5 row col-md-4 .cardSize {
    float:left;
    height: calc(100vh / 1.9);

}

@media screen and (max-width: 1024px) {
    .outer {
        grid-template-columns: repeat(2, 1fr);
    }
}