<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
   <!-- <link href="../static/stylesheet.css" th:href="stylesheet.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/stylesheetdetail.css}"/>
    <title>Title</title>
</head>
<body>
<div class="detail-div">
    <div class="img-container">
        <img class="detailImage" th:src="@{/auction-photos/} + ${auction.pictureAddress}">
    </div>
    <div class="detail-info">
        <p th:text="'Vara: '+${auction.title}"> </p>
        <p th:text="'Beskrivning: '+${auction.description}"> </p>
        <p th:text="'Utgångspris: '+${auction.startPrice}+' kr'"> </p>
        <p th:text="'Reservationspris: ' + ${auction.reservationPrice+' kr'}"></p>
        <p th:text="'Aktuellt bud: '+${highestBid}+' kr'"></p>
        <p th:text="'Slutdatum: ' + ${auction.printEndDateTime()}"></p>
        <p hidden id="auctionEndDate" th:text="${auction.endDateTime}" ></p>

        <span id="timeRemain"></span>
        <div class="detail-button">
             <form method="post" action="/bid" th:object="${bid}">
             <input type="text" name="bid" th:field="*{amount}" >
                <input type="hidden" name="auction" th:field="*{auction}">
             <button type="submit" class="btn btn-primary"
                style="margin-top:20px;">Lägg bud
             </button>
            </form>

            <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.example.com&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false" class="fa fa-facebook"></a>
            <a href="https://twitter.com/" class="fa fa-twitter"></a>
        </div>
    </div>
</div>



<script th:src="@{/Countdown.js}"></script>
</body>
</html>




<!--
<div class="container">
    <div class="row align-items-start">
        <div class="row">
            <div class="col">
                <img class="imgDetail" th:src="@{${'../images/' + currentConcert.id + '.jpg'}}" src="../images/1.jpg" alt="Summer reading" width="400">
                <h1 th:text="${currentConcert.artist + ' på ' + currentConcert.arena.arenaName}">Exempel Artist på Arena</h1>
                <p >
                <p th:text="${currentConcert.concertDescription}">Example Description</p>
                <span th:text="'Datum: ' + ${currentConcert.date}">Exempel Datum</span>
                <span th:text="${currentConcert.arena.city}">Exempel Stad</span>
                </p>
                <p th:text="'Pris: ' + ${currentConcert.ticketPrice} + 'kr'">Example 50</p>

                <span th:if="${session.wasSuccessfulPurchase != null}">
                    <span th:if="${session.wasSuccessfulPurchase}">
                        <div class="alert alert-success" role="alert" th:text="${session.buyAlert}"></div>
                    </span>
                    <span th:if="${!session.wasSuccessfulPurchase}">
                        <div class="alert alert-danger" role="alert" th:text="${session.buyAlert}"></div>
                    </span>
                </span>
                <form action="/shoppingcart" method="post">
                    <fieldset>
                        <div class="mb-3 col-2">
                            <label class="form-label">Välj antal biljetter</label>
                            <input type="number"  class="form-control" placeholder="Antal biljetter" name="ticketQuantity">
                        </div>
                        <button type="submit" class="btn btn-warning">Lägg i kundvagn</button>
                    </fieldset>
                </form>
                &lt;!&ndash;<div class="btn-group" role="group" aria-label="Basic example">
                    <a th:href="'/shoppingcart?concertId=' + ${currentConcert.concertId} + '&ticketQuantity=3'"><button type="button" class="btn btn-primary">Lägg i kundvagn</button></a>
                </div>&ndash;&gt;
            </div>
        </div>
    </div>
</div>-->
