<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="expand-group" th:fragment="filter-fragment">
    <div class="filter-outer">
        <form class="filter" method="get" action="/filter">
            <h3 class="heading-h3-2">Filter</h3>
            <label for="1">
                <input name="age" type="checkbox" id="1" value="one"/>
                0-1 år
            </label>
            <label for="2">
                <input name="age" type="checkbox" id="2" value="six"/>
                1-6 år
            </label>
            <label for="3">
                <input name="age" type="checkbox" id="3" value="twelve"/>
                6-12 år
            </label>
            <br>
            <h3 class="heading-h3-2">Kategorier</h3>
            <label>
                <input name="category" type="checkbox" value="Alla"/>
                Alla
            </label>
            <label>
                <input name="category" type="checkbox" value="Accessoarer"/>
                Accessoarer
            </label>
            <label>
                <input name="category" type="checkbox" value="Basplagg"/>
                Basplagg
            </label>
            <label>
                <input name="category" type="checkbox" value="Bodies"/>
                Bodies
            </label>
            <label>
                <input name="category" type="checkbox" value="Byxor-shorts"/>
                Byxor-shorts
            </label>
            <label>
                <input name="category" type="checkbox" value="Regnkläder"/>
                Regnkläder
            </label>
            <label>
                <input name="category" type="checkbox" value="Tröjor-t-shirts"/>
                Tröjor/t-shirts
            </label>
            <label>
                <input name="category" type="checkbox" value="Ytterkläder"/>
                Ytterkläder
            </label>
            <br>
            <h3 class="heading-h3-2">Plats</h3>
            <label>
                <input name="city" type="checkbox" value="post"/>
                Frakt hela Sverige
            </label>
            <label>
                <input name="city" type="checkbox" value="stockholm"/>
                Stockholm
            </label>
            <label>
                <input name="city" type="checkbox" value="göteborg"/>
                Göteborg
            </label>
            <label>
                <input name="city" type="checkbox" value="malmö"/>
                Malmö
            </label>
            <label>
                <input name="city" type="checkbox" value="uppsala"/>
                Uppsala
            </label>
            <label>
                <input name="city" type="checkbox" value="linköping"/>
                Linköping
            </label>
            <label>
                <input name="city" type="checkbox" value="örebro"/>
                Örebro
            </label>
            <label>
                <input name="city" type="checkbox" value="västerås"/>
                Västerås
            </label>
            <label>
                <input name="city" type="checkbox" value="helsingborg"/>
                Helsingborg
            </label>
            <label>
                <input name="city" type="checkbox" value="norrköping"/>
                Norrköping
            </label>
            <label>
                <input name="city" type="checkbox" value="Jönköping"/>
                Jönköping
            </label>
            <label>
                <input name="city" type="checkbox" value="Umeå"/>
                Umeå
            </label>
            <label>
                <input name="city" type="checkbox" value="Lund"/>
                Lund
            </label>
            <br>
            <button type="submit" class="btn btn-primary">Använd</button>
        </form>
    </div>
    <button class="expand-button"><i class="fas fa-chevron-right" id="expand"></i>
    </button>
</div>


</body>
</html>