<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/stylesheet.css}"/>

</head>
<body>
<div class="index-container">
    <div class="logo">
        <img class="logo" src="../logo2.png" alt="logo">
    </div>
    <div class="header">
        <div class="search">
            <div class="search-inner">
                <div class="searchbar">
                    <form class="search-form" method="get" action="/search">
                        <input name="searchText" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                               placeholder="Search products....">
                        <div class="input-group-append">
                            <button id="inputGroup-sizing-sm"
                                    class="btn btn-outline-warning btn-sm" type="button">
                                <i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="corner"></div>


    <div class="left-sidebar">
        <div class="filter">
            <form method="get" action="/filter">
            <h3>Filter</h3>
            <label for="1">
                <input name="filter1" type="checkbox" id="1" value=";kläder;" />
                0-1 år
            </label>
            <label for="2">
                <input name="filter2" type="checkbox" id="2" value="2" />
                1-6 år
            </label>
            <label for="3">
                <input name="filter3" type="checkbox" id="3" value="3" />
                6-12 år
            </label>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>

        <form method="get" action="/kategori">
            <h3>Kategorier</h3>
            <input type="submit" class="btn-primary btn btn-category" name="category" value="Alla"/>
            <input type="submit" class="btn-primary btn btn-category" name="category" value="Accessoarer"/>
            <input type="submit" class="btn-primary btn btn-category" name="category" value="Basplagg"/>
            <input type="submit" class="btn-primary btn btn-category" name="category" value="Bodies"/>
            <input type="submit" class="btn-primary btn btn-category" name="category" value="Byxor-shorts"/>
            <input type="submit" class="btn-primary btn btn-category" name="category" value="Regnkläder"/>
            <input type="submit" class="btn-primary btn btn-category" name="category" value="Tröjor-t-shirts"/>
            <input type="submit" class="btn-primary btn btn-category" name="category" value="Ytterkläder"/>
            <input type="submit" class="btn-primary btn btn-category" name="category" value=";kläder;"/>
    </form>
    </div>


    <div class="products">
        <div class="outer">
            <div class="card" th:each="item : ${auctions}">
                <h1 class="heading" th:text="${item.title}">
                    Rubrik
                </h1>
                <h2 class="subheading" th:text="${item.keyWords}">
                    Subrubrik
                </h2>
                <div class="img-container">
                    <img class="img" th:src="'https://auction-photos-aw.s3.eu-west-2.amazonaws.com/' + ${item.pictureAddress}" />
                </div>
                <p class="description" th:text="${item.description}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A beatae illo laudantium modi natus obcaecati praesentium reiciendis sint velit voluptas!
                </p>
                <p th:text="${item.users.getUsername()}"></p>

                <a th:href="'/detail/'+ ${item.id}" class="btn btn-primary">Mer information</a>

            </div>
        </div>
    </div>
    <div class="right-sidebar">

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>
</html>