<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${session.users==null}" class="login-box" th:fragment="login-fragment">
  <div class="d-grid mt-2 mx-2">
    <form class="express-login" th:action="@{/login}" method="POST">
      <div class="d-grid mb-1 express-login-input">
        <input type="text" class="form-control mb-1 login-input"
               placeholder="Användarnamn" name="username">
        <input type="password" class="form-control login-input"
               placeholder="Lösenord" name="password">
      </div>
      <div class="d-grid my-1 mb-2 express-login-submit">
        <button class="mb-1 btn btn-primary btn-login text-uppercase fw-bold btn-login"
                type="submit">Logga in
        </button>
        <button onclick="location.href = '/register'" type="button"
                class="btn btn-primary btn-login text-uppercase fw-bold mt-1 btn-login"
                >Registrera
        </button>
      </div>
    </form>


  </div>
</div>
<div th:if="${session.users!=null}" class="login-box large" th:fragment="login-fragment">
  <a href="/profile"><i class="fas fa-user-circle fa-5x"></i></a>
  <p class="profile-name-text" th:text="${session.users.username}">
  <form action="/logout" method="get">
    <button class="btn btn-primary btn-login text-uppercase fw-bold"
            type="submit">Logga ut
    </button>
  </form>
</div>

<div th:if="${session.users!=null}" class="login-box small" th:fragment="login-fragment">
  <li class="nav-item dropdown">
    <div class="dropdown">
      <button class="btn btn-primary small-profile" type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false">
        <i class="fas fa-user-circle fa-2x"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/profile">Gå till profil</a></li>
        <li><a class="dropdown-item" href="/logout">Logga ut</a></li>
      </ul>
    </div>
</div>
</body>
</html>