<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/pictures/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/stylesheet.css}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>The auction - bäst på barnkläder!</title>
</head>
<body>
<div class="index-container">
    <div class="logo">
        <img src="../logo6.png" alt="logo">
    </div>
    <div class="header">
    </div>
    <div class="corner">
    </div>
    <div class="loginSide1"> </div>

    <div class="upload-form justify-content-md-center align-items-center">
        <form th:object="${auction}" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-row col">
                <label class="register-label" for="title">Title:</label>
                <input type="text" class="form-control" style="width:300px;" id="title" placeholder="Titel"
                       name="title" th:field="*{title}" th:errorclass="is-invalid" >
            </div>
            <div class="form-row col">
                <label class="register-label" for="description">Beskrivning:</label>
                <input type="text" class="form-control" style="width:300px;" id="description" placeholder="Beskrivning"
                       name="description" th:field="*{description}" th:errorclass="is-invalid" >
            </div>
            <div class="form-row col">
                <label class="register-label" for="startPrice">Utgångspris:</label>
                <input type="text" class="form-control" style="width:300px;" id="startPrice" placeholder="Utgångspris"
                       name="startPrice" th:field="*{startPrice}" th:errorclass="is-invalid" >
            </div>
            <div class="form-row col">
                <label class="register-label" for="reservationPrice">Reservationspris:</label>
                <input type="text" class="form-control" style="width:300px;" id="reservationPrice" placeholder="Reservationspris"
                       name="reservationPrice" th:field="*{reservationPrice}" th:errorclass="is-invalid" >
            </div>
            <div class="form-row col">
                <label class="register-label" for="endDateTime">Slutdatum:</label>
                <input type="datetime-local" class="form-control" style="width:300px;" id="endDateTime" placeholder="Sluttid"
                       name="endDateTime" th:field="*{endDateTime}" th:errorclass="is-invalid" >
            </div>
            <div class="form-row col">
                <label class="register-label" for="endDateTime">Ladda upp bild: </label>
                <input type="file" name="image" style="width:300px;"  accept="image/png, image/jpeg" >
            </div>

            <div class="dropdown-upload">
            <label for="keyWords">Kategori:</label>
            <select name="keyWords" id="keyWords" th:field="*{keyWords}">
                <option th:value="Accessoarer" th:text="Accessoarer">Accessoarer</option>
                <option th:value="Basplagg" th:text="Basplagg">Basplagg</option>
                <option th:value="Bodies" th:text="Bodies">Bodies</option>
                <option th:value="Byxor-shorts" th:text="Byxor-shorts">Byxor & shorts</option>
                <option th:value="Regnkläder" th:text="Regnkläder">Regnkläder</option>
                <option th:value="Tröjor-tshirts" th:text="Tröjor-tshirts">Tröjor & t-shirts</option>
                <option th:value="Ytterkläder" th:text="Ytterkläder">Ytterkläder</option>
            </select>
            </div>

            <div class="dropdown-upload">
            <label for="ageSpan">Åldersspann:</label>
            <select name="ageSpan" id="ageSpan" th:field="*{ageSpan}">
                <option th:value="one" >0-1 år</option>
                <option th:value="six" >1-6 år</option>
                <option th:value="twelve">6-12 år</option>
            </select>
            </div>

            <div class="dropdown-upload">
                <label for="salesArea">Plats</label>
                <select name="salesArea" id="salesArea" th:field="*{salesArea}">
                    <option th:value="post" th:text="'Postas till hela Sverige'">Accessoarer</option>
                    <option th:value="stockholm" th:text="Stockholm"></option>
                    <option th:value="göteborg" th:text="Göteborg"></option>
                    <option th:value="malmö" th:text="Malmö"></option>
                    <option th:value="uppsala" th:text="Uppsala"></option>
                    <option th:value="linköping" th:text="Linköping"></option>
                    <option th:value="örebro" th:text="Örebro"></option>
                    <option th:value="västerås" th:text="Västerås"></option>
                    <option th:value="helsingborg" th:text="Helsingborg"></option>
                    <option th:value="norrköping" th:text="Norrköping"></option>
                    <option th:value="jönköping" th:text="Jönköping"></option>
                    <option th:value="umeå" th:text="Umeå"></option>
                    <option th:value="lund" th:text="Lund"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary"
                    style="margin-top:20px;">Ladda upp
            </button>
            <button onclick="window.location.href='/profile';" class="btn btn-primary"
                    type="button" style="margin-top:20px;">Tillbaka
            </button>
        </form>



    </div>
    <div class="loginSide2"> </div>
</div>

</body>
</html>